/**
 Mditor 公共样式
 **/
.mditor{
	border-radius: 3px;
	padding: 0px;
    margin: 0px;
	box-sizing: border-box;
	overflow: hidden;
	background-color: #fff;
	color: #333;
	-webkit-font-smoothing: subpixel-antialiased;
	position: relative;
    transition: min-height .25s ease-out;
    -webkit-transition: min-height .25s ease-out;
}
.mditor *{
	box-sizing: border-box;
}

/**
 工具条样式
 **/
.mditor .head{
    -webkit-touch-callout: none;
	-webkit-user-select: none;
	cursor: default;
    outline: 0;
    position: relative;
    zoom: 1;
    margin: 0;
    padding: 0px;
    height: 38px;
    border: 1px solid #CCC;
    border-bottom: 0;
    border-radius: 3px 3px 0 0;
    background: #f1f1f1;
    box-shadow: inset 0 1px 0 rgba(255,255,255,.4);
    background-color: #f3f3f3;
    background-image: -moz-linear-gradient(top,#f5f5f5,#efefef);
    background-image: -ms-linear-gradient(top,#f5f5f5,#efefef);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#f5f5f5),to(#efefef));
    background-image: -webkit-linear-gradient(top,#f5f5f5,#efefef);
    background-image: -o-linear-gradient(top,#f5f5f5,#efefef);
    background-image: linear-gradient(top,#f5f5f5,#efefef);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#efefef', GradientType=0);
}
.mditor .toolbar{
    margin: 0px;
    padding: 4px;
    height: 100%;
    position: relative;
}
.mditor .toolbar .fa{
    height: 27px;
    width: 27px;
    text-align: center;
    line-height: 25px;
    border: 1px solid transparent;
    border-radius: 3px;
    margin:1px;
    -webkit-transition: opacity .2s ease-in-out;
    transition: opacity .2s ease-in-out;
    color: #666;
}
.mditor .toolbar .fa:hover,
.mditor .toolbar .fa:active{
    color: #333;
    border: 1px solid #ddd;
}
.mditor .toolbar .fa:active{
    background-color: #ebebeb;
    box-shadow: 0 0 3px rgba(0,0,0,.1) inset;
}

/**
 编辑器主体样式
 **/
.mditor .body{
    margin: 0px;
    padding: 0px;
	position: relative;
    border: 1px solid #ccc;
    border-radius: 0 0 3px 3px;
    box-shadow: 0 0 4px 0 rgba(0,0,0,.1) inset;
    background: #fff;
}
.mditor .body.active{
	border: 1px solid #aaa;
}
.mditor .editor,
.mditor .preview{
    position: relative;
    display: inline-block;
	border: none !important;
    border-radius: 0 0 3px 3px !important;
	outline: none !important;
	width: 100%;
	height: 100%;
    min-height: 60px;
    resize: none !important;
	background-color: transparent !important;
    font: 16px/20px 'Helvetica Neue','Arial','Liberation Sans','FreeSans','Hiragino Sans GB','sans-serif' !important;
	margin: 0px;
    padding: 8px 10px;
    color: #333;
    word-break: break-all;
	word-wrap: break-word;
}

.mditor .preview{
    float: right;
    display: none;
}

/**
 高度计算样式
 **/
.mditor .height-calc{
    position: relative;
    height: 0px;
    font-size: 0px;
    padding: 0px;
    margin: 0px;
    border: 0px
}
.mditor .height-calc .editor{
    height: auto;
}

/**
 打开预览时样式
 **/
.mditor.pv .preview,
.mditor.pv .editor{
    width: 50%;
}
.mditor.pv .editor{
    border-right: 1px solid #ddd !important;
    border-bottom-right-radius: 0px !important;
}
.mditor.pv .preview{
    display: block;
    overflow: visible;
}

/**
 全屏样式
 **/
.mditor.fullscreen{
	position: fixed;
    left: 0px;
    top:0px;
    width: 100%;
    height: 100%;
}
.mditor.fullscreen .head,
.mditor.fullscreen .body{
    margin: -1px;
    border-radius: 0px !important;
}