<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="initial-scale=1.0, width=device-width, user-scalable=yes" />
	<title><%= htmlWebpackPlugin.options.title %></title>
	<% for (var css in htmlWebpackPlugin.files.css) { %>
	<link href="<%=htmlWebpackPlugin.files.css[css] %>" rel="stylesheet">
	<% } %>
	<style>
		.mditor {
			margin: 45px auto;
			max-width: 880px;
		}
		
		#editor {
			display: none;
		}
	</style>
</head>

<body>

	<div>
		<textarea id="editor">## 只求极致
[ **M** ] arkdown + E [ **ditor** ] = **Mditor**  
> Mditor 是一个简洁、易于集成、方便扩展、期望舒服的编写 markdown 的编辑器，仅此而已...</textarea>
	</div>

	<% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
	<script src="<%=htmlWebpackPlugin.files.chunks[chunk].entry %>"></script>
	<% } %>
	<script>
		var textarea = document.getElementById('editor');
		var mditor = window.mditor = Mditor.fromTextarea(textarea);
	</script>
</body>

</html>